:root {
  --branding-colour: #975a5e;
  --secondary-colour: #453953;;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family:"Poppins", sans-serif;
}
body{font-family: var(--default-font-family);}
h1,
h2,
h3,
h4,
h5 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}
.pamoja-picture {padding: 40px 20px;}
h1 {
  font-size: 96px;
  font-weight: bold;
  line-height: 1.5;
}

h2{font-size: 64px;}

.hero p {
 font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.about-section h1{
    font-size: 64px;
    line-height: 80px;}

.about-section h2{font-size: 18px;
font-family: var(--default-font-family)}

.about-section h3{
    font-size: 24px;
    line-height: 1.5;
    margin: 20px 0 0;
    font-family: var(--default-font-family)
}
.content p{
    font-size: 14px;
    
}

.about-section{padding: 80px 20px;}

.about-section-content{
  margin: 30px;
}
.hero {
  background: #f9f7fe;
  text-align: center;
  padding: 80px 20px;
}

.hero p {
  font-size: 16px;
  font-weight: bold;
  maring: 0;
}

.profile { 
padding: 10px;
border: 5px double #975a5e;;
border-radius: 20px;

}

.hero h2 {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
  color: var(--secondary-colour)
}
.btn-branding {
  background: var(--branding-colour);
  border-radius: 4px;
  color: white;
  line-height: 27px;
  padding: 15px 30px;
}
.content-container{
      padding: 60px 20px;
       text-align: center;
}

.container { text-align: center;}

.content{margin:30px;}

.btn-branding-outline{
  border-radius: 4px;
  color: var(--branding-colour);
  line-height: 27px;
  padding: 15px 30px;
  border: 1px solid var(--branding-colour);}

  .project-description{padding: 60px 20px}

  @media(max-width:960px) {
      .project-description{
          padding: 0;
          text-align: center;
      }
      h1{font-size: 50px;
        line-height: 1.5;}
      h2{font-size: 44px;}

      .hero{80px 20px}

      .content{text-align: center;
    padding: 0;}

      h3{font-size: 18px;}
      
    .btn{font-size: 18px;}

    .about-section{text-align: center;
    padding: 0;}
  }



  .logo{max-width: 80px;}

  nav li{
    display: inline;
    list-style: none;
    line-height: 42px;
    margin-left: 15px;
}
nav ul{
    padding: 0;
    margin: 0;
}

nav{
    padding: 20px 0;
}

nav a{
text-decoration: none;
color: #272142;
transition: all 100ms ease-in-out;

}
nav a:hover, nav li.active a{
    color: var(--branding-colour)
}

nav a {
    font-size: 14px;
}

footer .email-link{
    text-decoration: none;
    color: black;
     font-size: 24px;
     text-align: center;
}

footer .email-link:hover{color: var(--branding-colour)}

footer{
    margin: 60px 0;
}
footer .contact-box {
  background: #f9f7fe;
padding: 30px 120px;
border-radius: 10px;}

footer .contact-box p{margin:0;}

footer .social-links a{
    margin: 0 20px;
    color: var(--branding-colour);
    background: #f9f7fe;
    padding: 10px 14px;
    font-size: 18px;
    border-radius: 50%;
    transition: all 100ms ease-in-out;
s
}

footer .social-links a:hover{color: white;
background: var(--branding-colour);}

h3 {font-size: 48px;}